<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <h1>Total Productos</h1>
    <form action="/index_total" method="post">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" required>
        <br>
        <label for="fabricante">Fabricante:</label>
        <input type="text" id="fabricante" name="fabricante" required>
        <br>
        <input type="submit" value="Filtrar"> 
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Fabricante</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
        <% productos.forEach(producto=> { %>
            <tr>
                <td>
                    <%= producto.id %>
                </td>
                <td>
                    <%= producto.categoria %>
                </td>
                <td>
                    <%= producto.fabricante %>
                </td>
                <td>
                    <%= producto.nombre %>
                </td>
                <td>
                    <%= producto.precio %>
                </td>
                <td>
                    <%= producto.stock %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>